* {
	outline: none;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 25px;
	font-weight: 400;
}

.black, .black:hover, .black:visited {
	color: #343434; 
}

.white, .white:hover, .white:visited {
	color: #fff !important; 
}

.darkgreen {
	color: #2CC0B3; 
}

.gray, .gray:hover, .gray:visited {
	color: #818182; 
}

.background-darkgreen {
	background-color: #2CC0B3; 
}

.background-gray {
	background-color: #F6F7F8;
}

.background-white {
	background-color: #FFFFFF;
}

.full-width {
	width: 100%; 
}

.logo {
	font-weight: 700; 
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.no-decoration, .no-decoration:hover, .no-decoration:visited {
	text-decoration: none;
}

.mg-zero {
	margin: 0;
}

.mg-left-zero {
	margin-left: 0;
}

.mg-right-zero {
	margin-right: 0;
}

.pd-left-zero {
	padding-left: 0;
}

.pd-right-zero {
	padding-right: 0;
}

.conv-box-passive {
	opacity: 0.4; 
	margin-top: 20px !important;
	transition: margin-top 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.2s;
	-ms-transform: scale(0.9,0.9); /* IE 9 */
  -webkit-transform: scale(0.9,0.9); /* Safari */
  transform: scale(0.9,0.9); /* Standard syntax */
  position: absolute;
}

.conv-box-passive input[type="submit"] {
	display: none;
}

.conv-box {
	padding: 10px 20px;
	border-radius: 9px;
	visibility: visible;
}

.conv-box--before {
	padding: 10px 20px;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	visibility: visible;
}

.conv-box-one, .conv-box-two {
	margin-top: 150px;
}

.conv-box .conv-question, .conv-box--before .conv-question {
	font-size: 10px;
	color: #6D6D6D; 
	margin-bottom: 14px;
}

.conv-box {
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

.conv-box .user-input-label {
	color: #343434; 
	font-size: 18px;
}

.conv-box-hidden {
	opacity: 0;
	visibility: hidden;
}

.conv-box .user-input-label--button {
	margin-right: 10px;
	margin-top: 8px;
}

.conv-box .user-input-button, .conv-box .user-input-button-search {
	background-color: #D8D8D8; 
	padding: 13px 11px;
	font-size: 11px;
	color: #343434;
	margin-right: 10px;
	border-radius: 9px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: border 0.2s linear;
}

.conv-box .user-input-button-search {
	background-image: url(../img/search.svg);
	background-size: 18px;
	background-repeat: no-repeat;
	height: 45px;
	width: auto;
	background-position: center;
	padding-left: 22px;
	padding-right: 22px;
}

.conv-box .user-input-button-search-active {
	padding-left: 12px;
	padding-right: 12px;
	background-position: calc(0% + 5px);
	background-size: 15px;
}

.conv-box .user-input-button-search-active input {
	border: 0; 
	border-bottom: 1px solid #343434; 
	margin-left: 18px;
	padding: 2px;
	margin-top: -4px;
	border-radius: 2px;
	width: 100px;
}

.conv-box-passive:hover {
	opacity: 1.0;
	cursor: pointer;
	transition: opacity 0.2s linear;
}

.conv-box .user-input-button:hover, .conv-box-subcategory-button:hover, .conv-box .user-input-button-search:hover {
	border: 2px solid #abaaaa;
	transition: border 0.2s linear;
}

.conv-box .user-input-button-active, .conv-box-subcategory-button-active {
	background-color: #2CC0B3; 
	color: #fff; 
}

.conv-box .user-input-button-active:hover {
	border: 2px solid #23a095;
}

.conv-box-two--form, .conv-box-one--form {
	margin: 0;
}

.conv-box .user-input-text {
	margin-left: 5px;
	margin-right: 5px;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #2CC0B3;
	font-size: 18px;
	margin: -1px 5px auto 5px;
}

.conv-box .user-input-select {
	border: 0;
	border-bottom: 2px solid #2CC0B3;
	border-radius: 0;
	-webkit-appearance: inherit;
	font-size: 18px;
	margin: 1px 5px auto 9px;
	padding-bottom: 3px;
	background-image: url(../img/arrow-down-gray.svg);
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: calc(100% - 5px);
	padding-right: 20px;
}

.result-dummy-card {
	border-radius: 9px;
	height: 400px;
	margin-bottom: 40px;
}

.conv-result-card {
	border-radius: 9px;
	margin-bottom: 40px;
	height: 400px;
}

.conv-next-button {
	border-radius: 9px;
	padding: 1px 25px 1px 10px;
	font-size: 16px;
	border: 2px solid transparent;
	margin-left: 15px;
}

.conv-next-button:hover {
	border: 2px solid #23a095;
}

.conv-result-card .conv-results-background {
	width: 100%; 
	height: 150px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
}

.conv-results-title {
	padding: 20px 20px 0px 20px;
	font-size: 13px;
	font-weight: 700;
}

.conv-results-review-image {
	background-size: cover;
	background-position: center;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	border-radius: 9px;
}

.conv-results-review-label {
	font-size: 11px;
	position: relative;
  height: 3.6em;
  line-height: 1.2em;
  overflow: hidden;
  max-width: 240px;
  margin-top: 8px;
  margin-left: 5px;
}

.conv-results-review-label:after {
	content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(246, 247, 248, 0), rgba(246, 247, 248, 1) 50%);
}

.conv-results-review {
	padding: 0px 20px;
}

.conv-results-address {
	padding: 5px 0 0 20px;
}

.conv-results-address-icon {
	width: 10px;
	height: 15px;
	background-image: url(../img/location-pin-icon.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

.conv-results-address-label {
	font-size: 12px;
	margin-left: 10px;
	width: calc(100% - 20px);
}

.conv-results-website {
	border-radius: 9px;
	padding: 5px 20px;
	color: #343434;
}

.conv-results-website:hover {
	font-weight: 700;
}

.conv-box-three--before {
	margin-top: 40px;
}

.sticky-trip-footer {
	position: fixed;
	bottom: 0; 
	width: 100%; 
	right: 0;
	animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

.sticky-trip-footer-content {
	padding: 0px 20px; 
	font-weight: 700;
}

.sticky-trip-footer .view-trip-button {
	border-radius: 9px;
	padding: 5px 15px;
	margin-top: 9px;
}

.sticky-trip-footer .view-trip-button:hover {
	font-weight: 700;
	cursor: pointer;
}

.conv-results-add-box {
	padding: 0px 20px;
	margin-top: 30px;
}

.conv-results-add {
	border-radius: 9px;
	padding: 5px;
}

.conv-results-add:hover {
	cursor: pointer;
}

.conv-results-add-icon {
	background-image: url(../img/circle-plus-green.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}

.conv-results-add-label:hover {
	font-weight: 700;
}

.conv-results-website-icon {
	background-image: url(../img/compass-gray.svg);
	background-size: contain; 
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 5px;
}

.conv-results-website-label {
	font-size: 12px;
}

.conv-box-subcategory-button {
	background-color: #D8D8D8; 
	padding: 5px 8px;
	border-radius: 9px;
	margin-right: 5px;
	border: 2px solid transparent;
	cursor: pointer;
}

.component-passive {
	visibility: hidden;
	display: none;
}

.component-active {
	visibility: visible;
	display: block;
}

.trip-detail-header {
	margin-top: 150px;
	margin-bottom: 28px;
}

.conv-result-card-animate {
	opacity: 0.5; 
	/*-ms-transform: scale(0.6,0.6); /* IE 9 */
  /*-webkit-transform: scale(0.6,0.6); /* Safari */
  /*transform: scale(0.6,0.6); /* Standard syntax */
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform: translate(-3em,1em);
}

.header-conv-box-before {
	height: 51px;
}	

.header-conv-box, .header-conv-box-before {
	background-color: rgba(255, 255, 255, 0.4); 
	width: 100%; 
}

.header-conv-box-form {
	margin: 8px auto 8px 20px;
}

.header-conv-box-form .user-input-button {
	background-color: rgba(255, 255, 255, 0.8); 
	padding: 8px 5px;
	font-size: 11px;
	color: #343434;
	margin-right: 10px;
	border-radius: 9px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: border 0.2s linear;
}

.header-conv-box-question {
	margin-top: 18px;
	margin-left: 15px;
	font-size: 12px;
}

.header-conv-box-form .user-input-button:hover {
	border: 2px solid #2CC0B3;
	transition: border 0.2s linear;
}

.trip-card {
	border-bottom: 2px solid #2CC0B3;
	border-radius: 3px;
	margin-top: 28px;
}

.trip-card-image {
	width: 148px;
	height: 148px;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 3px;
}

.trip-card-description {
	margin-top: 15px;
	padding-left: 15px;
	width: calc(100% - 148px);
}

.trip-card-title {
	font-size: 18px;
}

.venue-description-address {
	margin-top: 3px;
}

.venue-description-address-icon {
	width: 10px;
	height: 15px;
	background-image: url(../img/location-pin-icon.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

.venue-description-address-label {
	font-size: 12px;
	margin-left: 5px;
	width: calc(100% - 15px);
}

.venue-description-review-image {
	background-size: cover;
	background-position: center;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	border-radius: 3px;
}

.trip-card-review-label {
	font-size: 11px;
	position: relative;
  height: 3.6em;
  line-height: 1.2em;
  overflow: hidden;
  max-width: 240px;
  margin-top: 8px;
  margin-left: 5px;
}

.venue-edit-menu {
	margin-top: 28px;
	border-radius: 3px;
	border: 1px solid #DEE1E4; 
	width: 60px; 
}

.delete-trip-item-trigger:hover .delete-trip-item-label {
	font-weight: 700; 
	cursor: pointer;
}

.delete-trip-item-icon {
	background-image: url(../img/delete-trip-item-icon.svg);
	width: 16px;
	height: 16px;
	background-size: cover; 
	margin: 13px auto 4px auto; 
}

.delete-trip-item-label {
	width: 100%; 
	text-align: center; 
	font-size: 13px;
	color: #D0021B;
	margin-bottom: 13px;
}

@media only screen and (max-width: 767px){

	.mb-full-width {
		width: 100%;
	}

	.mb-clear-left {
		clear: left;
	}

	.xs-pd-right-zero {
		padding-right: 0;
	}

	.conv-box .user-input-text {
		margin: 5px 0;
	}

	.conv-box .user-input-label {
		margin: 5px 0;
	}

	.conv-box .user-input-select {
		margin-bottom: 5px;
		margin-top: 6px;
	}

	.conv-next-button {
		float: left; 
		width: 100%; 
		margin-top: 10px;
		margin-left: 0;
	}

	.conv-box-one {
		width: auto;
	}

	.conv-box-one.conv-box-passive {
		margin-top: -100px !important;
		-ms-transform: scale(0.9,0.9); /* IE 9 */
	  -webkit-transform: scale(0.9,0.9); /* Safari */
  	transform: scale(0.9,0.9); /* Standard syntax */
	}

	.conv-box-passive:hover {
		opacity: 0.4;
	}

	.conv-box-two {
		margin-top: 230px;
	}

	.conv-box .user-input-button, .conv-box .user-input-button-search {
		margin-bottom: 10px;
	}

	.conv-box-three--before {
		padding: 0;
	}

	.conv-box-subcategory-button {
		margin-bottom: 10px;
		margin-right: 10px;
	}

	.mb-conv-result-card-box {
		padding: 0;
	}

	.conv-result-card {
		height: auto;
		padding-bottom: 20px;
	}

	.conv-results-review-label {
		width: calc(100% - 30px);
	}

	.header-conv-box-form {
		margin-left: 15px;
	}

	.header-conv-box-form .user-input-button {
		margin-bottom: 10px;
	}

	.conv-results-add {
		height: 45px;
		float: left;
		padding: 12px 10px;
	}

	.conv-results-add-box {
		position: relative;
		z-index: 999;
	}

}